In [1]:
import sys
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup as BS
import dateparser as dp

In [2]:
# Setup 

base_url="https://docs.cloud.oracle.com/en-us/iaas/releasenotes"
homepage=rq.get(base_url).content
soup=BS(homepage,'html.parser')
pages = int(soup.findAll("span", {"class": "page-current"})[0].text.split('of')[1].split('\n')[0].strip())
urls = [base_url+'/?page='+str(x) for x in range(1,pages)]
urls.insert(0,base_url)
dataset=[]
filename='oracle-release.csv'

In [3]:
print("Initiating Scraping".center(60,'+'))
print("\n")
progress=0
for url in urls:
    page=BS(rq.get(url).content,'html.parser').findAll("article")
    data=[
        dict(
            release_date=dp.parse(x.find("ul").findAll("li")[1].text.split(":")[1].strip()),
            release_note=x.find("h3").text,
            services=x.find("ul").findAll("li")[0].text.split(":")[1].strip(),
            release_description=x.find("div", {"class" : "uk-panel vl-content"}).text.replace("\n\n"," ").replace("\n",", ")
        ) for x in page
    ]
    dataset+=data
    progress+=1
    cnt=int(progress*100/pages)
    sys.stdout.write("\r" + "Progress: [ " + "==="*int(cnt/10) + ">" + str(cnt) +"% ]")
    sys.stdout.flush()
print("")
print("Creating dataframe....",end='')
df=pd.DataFrame(dataset)
print("Ok")
print("Exporting CSV {}....".format(filename),end='')
df.to_csv(filename,index=False)
print("done")

++++++++++++++++++++Initiating Scraping+++++++++++++++++++++


Progress: [ ==============================>100% ]
Creating dataframe....Ok
Exporting CSV oracle-release.csv....done

In [4]:
pd.read_csv(filename).head()

,release_date,release_note,services,release_description
0,2020-05-01,Oracle NoSQL Database Cloud now available in n...,Oracle NoSQL Database Cloud,Oracle NoSQL Database Cloud is now available i...
1,2020-05-01,Data Catalog is now available in the Saudi Ara...,"Data Catalog, Oracle Cloud Infrastructure",Data Catalog is now available in the Saudi Ara...
2,2020-04-30,"New region in Hyderabad, India",Oracle Cloud Infrastructure,"A region in Hyderabad, India is now available...."
3,2020-04-30,Improvements to the Notebook Session Environment,"Data Science, Oracle Cloud Infrastructure",The Notebook Session environment includes the ...
4,2020-04-29,Exadata DB system grid infrastructure and data...,Database,You can now patch an Exadata DB system's grid ...